* {
	 margin: 0;
	 padding: 0;
	 -webkit-box-sizing: border-box;
	 -moz-box-sizing: border-box;
	 box-sizing: border-box;
}
h3{
     text-align: center;
     background-color: rgba(187, 71, 12, 0.54);
     padding: 20px;
     font-family:cursive;
}
body {
	 background: #FAFAFA;
	 font-family: arial, helvetica, sans-serif;
	 font-size: 16px;
}
span{
     margin-right: 20px;
}
.caja {
	 margin: auto;
	 max-width: 800px;
	 width: 90%;
}
.tareas{
     margin: 0 auto;
}
.principal {
	 background: rgb(150, 137, 137);
	 color: #fff;
	 padding: 10px 0;
	 width: 100%;
     background: url(../img/HorarioTarea.jpg)center center no-repeat;
}
.principal .formulario {
	 color: #212121;
}
.principal .formulario input[type=text] {
	 margin-bottom: 20px;
	 padding: 30px;
	 width: 100%;
}
button {
     border-radius: 10px; 
	 padding:12px;
     background-color: rgb(220, 153, 137);
}
p{
    color: white;
    font-size: 20px;
}
button:hover {
	 border:2px solid #e2b1b1;
     color: aliceblue;
     background-color: rgb(155, 176, 145);
     border: 5px solid white;
}
input[type=checkbox] {
     outline: 5px auto;
     outline-offset: -2px;
     position: relative;
     color: black;
     position: relative;
     left: -6px;
}
.caja1
{
     font-size: 16px;
     text-align: center;
     font-weight:bolder;
     padding: 10px;
     background : url(../img/flores.gif) center center;
}
/* - Tareas - */
.tareas .lista {
	 list-style: none;
     background: url(../img/ni%C3%B1a.gif)center center no-repeat;
     background-size: contain;
     height: 320px; 
}
.tareas .lista li {
	 border-bottom: 1px solid #B6B6B6;
     background-color: blanchedalmond;
     margin-bottom: 12px;
     padding-left: 10px;
     padding: 12px;
}
 li:hover {
	 text-decoration: line-through;
     color: red;
     position: relative;
     left: 10px;
}